body {
    background: #fff;
    color: #111;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 28px;
}
.container .container {
    margin: 0;
}

.block {
    margin: 28px 0;
}

#wrapper {
    min-height: 100vh;
    background: #eee;
}
#content {
    width: 600px;
    max-width: 100%;
    background: #fff;
    min-height: 100px;
    margin: 0 auto;
    padding: 1px 0;
}

p {
    margin-bottom: 16px;
}
p:last-child {
    margin-bottom: 0;
}

strong, b {
    font-weight: bold;
}

table,
tr,
td,
th {
    border: none;
    vertical-align: top;
}


/* header */

#header .logo {
    display: block;
    text-align: center;
    padding: 18px 0;
}
#header .logo img {
    display: block;
    margin: 0 auto;
    width: 223px;
}

#header .menu {
    background: #25344C;
    padding: 0 8px;
}
#header .menu table {
    width: 100%;
}
#header .menu td {
    padding: 16px 0;
}
#header .menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #9299A5;
}
#header .menu td:last-child a {
    border: none;
}


/* sale */

#sale {
    height: 346px;
    line-height: 1.2;
}
#sale .text-1 {
    font-size: 20px;
    color: #ffffff;
    padding: 215px 0 12px;
    text-transform: uppercase;
}
#sale .text-2 {
    font-size: 28px;
    color: #ffffff;
}


/* price */

#price {
    background: #25344C;
    padding: 28px 0;
    color: #ffffff;
}
#price img {
    display: block;
}
#price .header {
    font-size: 18px;
}
#price .header td {
    vertical-align: middle;
    line-height: 1.45;
}
#price .header .plus {
    padding: 0 37px;
}
#price .header .presents img {
    margin-right: 6px;
}
#price .header .presents td {
    padding-bottom: 2px;
}
#price .header .presents tr:last-child {
    padding-bottom: 0;
}
#price .free {
    margin-top: 30px;
    line-height: 1.4;
    padding-bottom: 26px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}
#price .free img {
    margin-right: 11px;
}
#price .free .title {
    color: #ffc62c;
}
#price .total {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}
#price * {
    color: #ffffff;
}


/* social */

.social table {
    width: 360px;
    margin: 0 auto;
}
.social td {
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}
.social td img {
    display: block;
    margin: 0 auto;
}


/* steps */

#steps .title {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 1.2;
}
#steps .name {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
}
#steps .img {
    margin: 24px 0;
    height: 213px;
    background: #eee;
}
#steps .img img {
    display: block;
    width: 100%;
    height: auto;
}
.more  {
    text-align: center;
    margin-top: 28px;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 30px 0;
}
.more a {
    line-height: 46px;
    width: 180px;
    border-radius: 5px;
    background: #F11A38;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    display: block;
}


/* html-text */

.html-text ul {
    margin: 0 0 16px 20px;
}
.html-text ul li {
    list-style: disc;
}


/* result */

#result .title {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.2;
}
#result td {
    vertical-align: middle;
    padding: 0 0 20px;
    line-height: 1.5;
}
#result tr:last-child td {
    padding-bottom: 0;
}
#result td:first-child {
    font-size: 40px;
    padding-right: 16px;
    line-height: 1;
}


/* social-footer */

#social-footer {
    border-top: 1px solid #EAEAEA;
}
#social-footer .title {
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
#social-footer .phone {
    text-align: center;
    margin-top: 15px;
    line-height: 1;
}
#social-footer .phone a {
    text-decoration: none;
    color: #25344C;
    font-size: 35px;
    font-weight: bold;
}


/* footer */

#footer {
    padding: 28px 0;
    margin-top: 28px;
    background: #F3F3F3;
}
#footer a {
    color: #25344c;
    text-decoration: underline;
}
#footer .text {
    line-height: 1.5;
    font-size: 14px;
    color: #6b6b6b;
}
